.DS_Store
node_modules
/build
/.svelte-kit
/.netlify
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/py
*/.env
*__pycache__

/src/langs/r.json
/src/langs/data_json
